<div id="<%= dom_id newletter %>">
  <p>
    <strong>First name:</strong>
    <%= newletter.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= newletter.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= newletter.email %>
  </p>

</div>
