<h1>Editing newletter</h1>

<%= render "form", newletter: @newletter %>

<br>

<div>
  <%= link_to "Show this newletter", @newletter %> |
  <%= link_to "Back to newletters", newletters_path %>
</div>
