<div class="container">
    <div class="text-center text-white">
        <div class="nav bg-slate-300 rounded-lg  text-uppercase" role="tablist">
            <a class="nav-link " href="#onex" role="tab" data-toggle="tab">donner une fois</a>
            <a class="nav-link active" href="#monthly" role="tab" data-toggle="tab">Mensuel</a>
        </div>
    </div>
    <div class="text-center">
    <form action="" class="">
    
    </form>

    </div>
</div>