<div class="">
    <div class="text-center">
        <div class="nav bg-white rounded-lg  text-uppercase" role="tablist">
            <a class="nav-link " href="#onex" role="tab" data-toggle="tab">donner une fois</a>
            <a class="nav-link active" href="#monthly" role="tab" data-toggle="tab">Mensuel</a>
        </div>
    </div>
    <div class="text-center mt-4 ">
        <div class="card">
            <div class="card-header">
                <p class="">Choisissez un montant à donner par mois</p>
            </div>
            <div class="input-group p-2 ">
                <div class="input-group">
                    <input type="text" class="form-control"  placeholder="20$/mois">
                    <input type="text" class="form-control mx-2"  placeholder="50$/mois">
                    <input type="text" class="form-control bg-blue-500"  placeholder="100$/mois">
                </div>
                <div class="input-group my-2">
                    <input type="text" class="form-control"  placeholder="150$/mois">
                    <input type="text" class="form-control mx-2" placeholder="autres montant">
                </div>                       
                <button type="submit" class="btn btn-primary uppercase my-4">faire un don mensuel</button>
                <hr>
            <div class="my-2">
                <small class="text-sm">
                    Votre don mensuel de <span class="underline font-semibold">20,00 $</span> peut donner de l'eau potable ou scolariser à 8 personnes chaque année. 100% finance des projets de bien-etre.
                </small>
            </div>
        </div>
    </div>
        
<p class="leading-snug recaptcha-text pt-1 mx-2 md-mx-3">
    <i class="cw-icon-lock"></i>
     Paiement sécurisé · Ce site est protégé par reCAPTCHA et <a href="https://policies.google.com/privacy">la politique de confidentialité</a> et <a href="https://policies.google.com/terms">les conditions d'utilisation</a> de Google&nbsp;s'appliquent.
</p>
</div>




